<h1><%= @post.title %></h1>
<p>
  <%= @post.content %>
</p>

<p>
  <% @post.categories.each do |category| %>
  <%= category.name %><br>
  <% end %>
</p>

<p>
  <% @post.comments.each do |comment| %>
  <%= "#{comment.user.username} says: #{comment.content}" %><br>
  <% end %>
</p>

<p>
  <% users = @post.comments.collect { |comment| comment.user }.uniq %>
  <% users.each do |user| %>
  <%= link_to user.username, user %>
  <% end %>
</p>

<p>
  New comment <br>

  <%= form_for @post.comments.build do |f| %>
  <%= f.label :content, "Comment" %><br>
  <%= f.text_field :content %><br>
  <%= f.hidden_field :post_id, value: @post.id %>

  <%= f.label :user_id, "User" %>
  <%= f.collection_select :user_id, User.all, :id, :username %><br>

  <%= f.fields_for :user, User.new do |user_fields| %>

    <%= f.label :username %><br>
    <%= user_fields.text_field :username %><br>
  <% end %>

  <%= f.submit %>
<% end %> 

</p>